<div class="home-header">
  {{#if search}}
    <h1>voê está buscando por : <span>{{search}}</span></h1>
    {{#if toughtsQty}}
      <p>foram encontrados <span>{{toughtsQty}}</span> pensamentos</p>
    {{else}}
      <p>não foi encontrado nenhum pensamento para <span>{{search}}</span></p>
    {{/if}}
  {{else}}
    <h1>Conheça alguns dos nossos <span>Pensamentos:</span></h1>
  {{/if}}
  <form action="" method="get">
    <input type="text" name="search" placeholder="está buscando por algo?" />
    <input type="submit" value="Buscar" class="btn" />
  </form>
  <div class="order-container"><span>odernar por:</span>
    <form action="/" method="get">
      <input type="hidden" name="search" value="{{this.search}}" />
      <input type="hidden" name="order" value="new" />
      <button type="submit"><i class="bi bi-arrow-up"></i></button>
    </form>
    <form action="/" method="get">
      <input type="hidden" name="search" value="{{this.search}}" />
      <input type="hidden" name="order" value="old" />
      <button type="submit"><i class="bi bi-arrow-down"></i></button>
    </form>
    <a href="/">limpar</a>
  </div>
</div>
<div class="toughts-container">
  {{#each toughts}}
    <figure>
      <blockquote>
        "{{this.title}}"
      </blockquote>
      <figcaption>criado por
        <span>{{this.User.name}}</span>
      </figcaption>
    </figure>
  {{/each}}
</div>